# nginx proxy address - http://172.17.0.1:60101

name: invoiceninja
x-logging: &default-logging
  options:
    max-size: '5m'
    max-file: '1'
  driver: json-file

services:
  app:
    image: invoiceninja/invoiceninja:latest
    container_name: invoiceninja-app
    domainname: ${BASE_DOMAIN_NAME:-}
    hostname: ${BASE_HOST_NAME:-$HOSTNAME}
    restart: always
    pull_policy: always
    logging: *default-logging
    environment:
      IS_DOCKER: true
      - 'TRUSTED_PROXIES=*'
      REQUIRE_HTTPS: false
      APP_DEBUG: 0
      APP_CIPHER: AES-256-CBC
      DB_USERNAME: ${DB_USER_NAME:-ninja}
      DB_DATABASE: ${DB_CREATE_DATABASE_NAME:-ninja}
      DB_PASSWORD: ${DB_USER_PASS:-g9VmerMjwmwEmusbYuE23Fg7p28WyN24}
      DB_HOST: invoiceninja-db
      DB_STRICT: false
      DB_TYPE: mysql
      APP_URL: ${BASE_HOST_NAME:-$HOSTNAME}
      APP_KEY: ${APP_SECRET_KEY:-base64:RGK672GY56Df#$SR3998JHKYVBE45=}
      IN_USER_EMAIL: ${APP_ADMIN_USER:-admin}@${BASE_DOMAIN_NAME:-${BASE_HOST_NAME}}
      IN_PASSWORD: ${APP_ADMIN_PASS:-changeme_admin_password}
      MAIL_MAILER: log
      MAIL_HOST: ${EMAIL_SERVER_HOST:-172.17.0.1}
      MAIL_PORT: ${EMAIL_SERVER_PORT:-587}
      MAIL_USERNAME: null
      MAIL_PASSWORD: null
      MAIL_ENCRYPTION: ${EMAIL_SERVER_ENCRYPTION:-tls}
      MAIL_FROM_ADDRESS: ${EMAIL_SERVER_MAIL_FROM:-no-reply@${BASE_DOMAIN_NAME:-${BASE_HOST_NAME}}}
      MAIL_FROM_NAME: ${EMAIL_SERVER_FROM_ORG:-InvoiceNinja}
      - 'PDF_GENERATOR=snappdf'
    ports:
      - '172.17.0.1:60101:9000'
    volumes:
      - './rootfs/data/invoiceninja:/var/app/public'
      - './rootfs/data/invoiceninja/storage:/var/app/storage'
    depends_on:
      db:
        condition: 'service_healthy'
      redis:
        condition: 'service_healthy'
    networks:
      - invoiceninja

  db:
    image: mysql:8
    container_name: invoiceninja-db
    restart: always
    pull_policy: always
    logging: *default-logging
    environment:
      TZ: ${TZ:-America/New_York}
      MYSQL_USER: ${DB_USER_NAME:-ninja}
      MYSQL_DATABASE: ${DB_CREATE_DATABASE_NAME:-ninja}
      MYSQL_PASSWORD: ${DB_USER_PASS:-g9VmerMjwmwEmusbYuE23Fg7p28WyN24}
      MYSQL_ROOT_PASSWORD: ${DB_ADMIN_PASS:-g9VmerMjwmwEmusbYuE23Fg7p28WyN24}
    volumes:
      - './rootfs/data/db/mysql/invoiceninja:/var/lib/mysql'
    healthcheck:
      test: ['CMD', 'mysqladmin', 'ping', '-u', 'root']
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - invoiceninja

  redis:
    image: redis:alpine
    container_name: invoiceninja-redis
    hostname: invoiceninja-redis
    restart: always
    pull_policy: always
    logging: *default-logging
    environment:
      TZ: ${TZ:-America/New_York}
    volumes:
      - './rootfs/data/db/redis/invoiceninja:/data'
    healthcheck:
      test: ['CMD-SHELL', 'redis-cli ping | grep PONG']
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - invoiceninja

networks:
  invoiceninja:
    name: invoiceninja
    external: false
